body{
    margin: 0;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
}

#clock{
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: bold;
}